.partners {
  padding: 70px 100px 0px;
}

.partners__title {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
  color: #121920;
  margin: 0;
  padding-bottom: 30px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.partners__card {
  min-width: 287.5px;
  height: 120px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.partners__card:hover {
  transition: 0.3s ease;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
}

.partners__image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1435px) {
  .partners {
    padding: 70px 20px 0px;
  }

  .partners__title {
    font-size: 28px;
  }

  .partners__list {
    gap: 20px;
  }

  .partners__card {
    min-width: calc((100% / 4) - 24.5px);
  }
}

@media screen and (max-width: 1090px) {
  .partners__card {
    min-width: calc((100% / 3) - 20px);
  }
}

@media screen and (width: 768px) {
  .partners__list {
    gap: 19px;
  }
  .partners__card {
    width: 230px;
  }

  .partners__image {
    max-width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .partners__card {
    min-width: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 550px) {
  .partners__card {
    max-width: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 375px) {
  .partners__card {
    min-width: 100%;
    height: 140px;
  }
}
